.detail {
  width: 100%;
  color: white;
  padding: 4em 1em 0 5em;
}

.video {
  width: 100%;
}

.info::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  opacity: 0.2;
  transform: translateY(0.3em);
}

.description {
  white-space: pre-wrap;
  margin-top: 2em;
}
