.container {
  padding: 0 0.5em;
}

/* grid */
.grid.container {
  width: 20%;
}

.grid .video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid .thumbnailsWrap {
  position: relative;
  padding-bottom: 55%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.grid .metadata .channelImg {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
  margin-top: 0.2em;
}

.grid .info {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  padding-left: 10px;
}

/* list */
.list.container {
  width: 100%;
  margin: 0 auto;
}

.list .video {
  display: flex;
  flex-direction: row;
}

.list .thumbnailsWrap {
  position: relative;
  padding-bottom: 25%;
  width: 80%;
  height: 0;
  overflow: hidden;
}

.list .metadata .channelImg {
  display: none;
}

.list .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 80%;
}

/* common */
.thumbnails {
  top: 0;
  left: 0;
  width: 90%;
  max-height: 265px;
  cursor: pointer;
  overflow: hidden;
}

.metadata {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.title {
  color: white;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  z-index: 1;
}

.channelTitle,
.views,
.date {
  color: gray;
  font-size: 0.7rem;
  margin: 0;
}

.sub-info {
  display: flex;
}

.views::after {
  content: "•";
  margin: 0 4px;
}

@media screen and (max-width: 70rem) {
  .container.grid {
    width: 25%;
  }
}

@media screen and (max-width: 60rem) {
  .container.grid {
    width: 33%;
  }
}

@media screen and (max-width: 37rem) {
  .container.grid {
    width: 50%;
  }
}

@media screen and (max-width: 25rem) {
  .container.grid {
    width: 100%;
  }
}

@media screen and (max-width: 56rem) {
  .list.container {
    margin: 0 4em;
  }
}
