.container {
  padding: 0.5em;
}

/* 
   비디오 리스트 row당 갯수..
   1600px ~ : 비디오 5개씩
   1100 ~ 1600px: 비디오 4개씩
   900 ~ 1100px: 비디오 3개씩
   0 ~ 900px: 비디오 2개씩
*/

.container.grid {
  width: 20%;
}

.container.list {
  width: 100%;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnails-wrap {
  position: relative;
  padding-bottom: 60%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.thumbnails-wrap img {
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 50%;
}

.metadata {
  width: 100%;
  display: flex;
  margin-bottom: 0.7em;
}

.channel-img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
  margin-top: 0.2em;
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  padding-left: 10px;
}

.title {
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* height: 3em; */
  text-align: left;
  word-wrap: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel-title,
.views,
.date {
  color: gray;
  font-size: 0.7rem;
  margin: 0;
}

.sub-info {
  display: flex;
}

.views::after {
  content: "•";
  margin: 0 4px;
}

@media screen and (max-width: 70rem) {
  .container.grid {
    width: 25%;
  }
}

@media screen and (max-width: 60rem) {
  .container.grid {
    width: 33%;
  }
}

@media screen and (max-width: 37rem) {
  .container.grid {
    width: 50%;
  }
}

@media screen and (max-width: 25rem) {
  .container.grid {
    width: 100%;
  }
}
